html, body {
    height: 100%;
    margin: 0;
  }
body {
    display: flex;
    flex-direction: column;
  }
footer {
    margin-top: auto;
}
.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
  
  .box {
    width: 70px;
    background-color: rgb(74, 191, 230);
    padding: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px; 

    transition-property: width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }
    .box:hover {
        width: 140px; 
    }

.grid-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 auto;

  }
  
  .grid-item {
    background-color: rgb(236, 75, 99);
    padding: 20px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
  }
  .grid-item:hover {
    background-color: rgb(86, 21, 116);
    color: white;
    transition: transform 0.3s ease;
  }
  
  .responsive-box {
    padding: 20px;
    text-align: center;
  }
  
  @media (max-width: 800px) {
    .responsive-box {
      background-color: lightcoral;
    }
  }
  
  @media (min-width: 801px) {
    .responsive-box {
      background-color: lightseagreen;
    }
  }

  footer {

  }