.responsive-container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .column {
      background-color: beige;
      flex: 1;
      padding: 10px;
      border: 1px solid black;
      border-radius: 4px;
    }
    
    @media (max-width: 600px) {
      .column {
        flex: 100%;
      }
    }
.responsive-image {
      max-width: 100%;
      height: auto;
    }
  .responsive-image:hover {
      filter:hue-rotate(90deg);
  }

.media-query-box {
      padding: 20px;
      text-align: center;
    }
    
    @media (max-width: 600px) {
      .media-query-box {
        background-color: rgb(238, 107, 107);
      }
    }
    
    @media (min-width: 601px) {
      .media-query-box {
        background-color: rgb(158, 216, 236);
      }
    }
    
.responsive-nav .nav-list {
      display: flex;
      list-style: none;
    }
    
    @media (max-width: 600px) {
      .responsive-nav .nav-list {
        display: none;
      }
    
      .responsive-nav .menu-toggle {
        display: block;
      }
    }