body {
    background-color: #cfe9ff;
    margin: 0;
    font-family: monospace;;
}
h1 {
    text-align: center;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcc00;
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #003366;
    padding: 0;
    width: 75%;
    border-radius: 10px;
}
.navbar li {
    float: none;
}
.navbar a {
    color: #003366;
    text-decoration: none;
    display: block;
    padding: 15px;
    text-align: center;
}
main {
    text-align: center;
    font-family: mo;
}
.akukuva {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.sisältö {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}
.teksti {
    flex: 1 1 300px;
}
.kuvacon {
    position: relative;
    display: inline-block;
    width: 150px;
}
.carl {
    width: 100%;
    height: auto;
    display: block;
}
.kuvan-teksti {
    display: none;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
}
.kuvacon:hover .kuvan-teksti {
    display: block;
}
.kirja_kuvat {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    gap: 10px;
}
.kirja_kuvat img {
    width: 100%;
    max-width: 150px;
    border-radius: 10px;
    transition: ease 0.3s;
    cursor: pointer;
}
.kirja_kuvat img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.hahmo_kuvat {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 150px);
    align-items: center;
    gap: 10px;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
}
.hahmo_kuvat div {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    opacity: 0;
}
.hahmo_kuvat li:hover div {
    opacity: 1;
}
.hahmo_kuvat li:hover .roope-teksti{
    color: rgb(220, 190, 19)
}
.hahmo_kuvat li:first-child {
    grid-column: 1 / -1;
}
.hahmo_kuvat img {
    width: 100%;
    max-width: 150px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffcc00;
    border-radius: 10px;
    border: #003366 2px solid;
    padding: 6px;
}
@media (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
        width: 100%;
    }
    .hahmo_kuvat {
        grid-template-columns: repeat(auto-fit,minmax(120px, 1fr));
    }
    footer {
        position: static;
        margin-top: 10px;
    }
}