p {
    font-size: 1.5em;
    color:rgb(219, 17, 17);
    }
    body {
    background-color: lightslategrey;
    }
    h1 {
        font-size: 2.5em;
    }
h2 {
    font-size: 2em;
    }
ul {
    font-size: 1.5em;
    }
a { 
    font-size: 1.5em;
}
div {
      padding: 20px;
      margin: 10px;
    }
table{
    width: 75%;
    border-collapse:collapse;
}
tr{
    background-color: lightblue;
}
th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}
th{
    background-color: rgb(78, 28, 214);
}
label {
    font-weight: bold;
}
input[type="text"], input[type="email"], textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {
    background-color: #847e7e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #555151;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 3px;
}

.transition-button {
    background-color: #847e7e;
    padding: 10px 20px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 300px;
    color: white;
}
.transition-button:hover {
    background-color: deepskyblue;
    width: 350px;
}
.animation-box {
    width: 70px;
    height: 70px;
    background-color: coral;
    position: sticky;
    animation: move 2s infinite alternate;
}
@keyframes move {
    from {
        left: 0;
    }
    to {
        left: 100px;
    }
}
.pseudo-list li:nth-child(odd) {
    background-color: mediumvioletred;
    width: 30%;
}
.pseudo-list li:nth-child(even) {
    background-color:darkviolet;
    width: 30%;
}
.filter-image {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
.filter-image:hover {
    filter: grayscale(0%);
}
.quote {
    position: relative;
    padding-left: 20px;
    font-style: italic;
}
.quote::before {
    content: '“';
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    color: lightgray;
}
.quote::after {
    content: '“';
    font-size: 30px;
    position: relative;
    right: 0;
    top: 0;
    color: lightgray;
}